.sight-marker-list {
	position: relative;
	float: right;
	margin-right: 10px;
	/* 	position: absolute;
	top: 70px;
	right: 30px; */
	width: 280px;
	height: 585px;
	background-color: #fff;
	border-radius: 3px;
	pointer-events: auto;
}

.sight-list-title {
	height: 37.5px;
	line-height: 37.5px;
	padding-left: 15px;
}

.sight-list-title span {
	font-size: 16px;
	color: #1071e2;
}

.sight-list-body {
	padding: 6px;
	background-color: #eeeeee;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
}

.sight-close-btn {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 15px;
	right: 8px;
	background: url(../Images/close.png) no-repeat;
	background-position: center;
	cursor: pointer;
}

.sight-input-container {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 6px;
	padding: 6px;
	display: flex;
	flex-direction: row;
	background-color: #fff;

}

.sight-input-container input {
	outline-style: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 225px;
	height: 30px;
	line-height: 28px;
	box-sizing: border-box;
	padding-left: 5px;
	font-size: 14px;
	color: #2c82e5;
	margin-right: 5px;

}

.add-sight-btn {
	width: 30px;
	height: 30px;
	background-color: #1071e2;
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.sight-list-container {
	width: 100%;
	padding: 0 6px;
	height: 486px;
	overflow-y: auto;
	background-color: #fff;
}

.sight-list-item {
	position: relative;
	width: 100%;
	height: 150px;
	border: 2px solid #999999;
	border-radius: 3px;
	margin: 9px 0;
	cursor: pointer;
}

.sight-list-item-selected {
	position: relative;
	width: 190px;
	height: 105px;
	border: 2px solid green;
	border-radius: 3px;
	margin-bottom: 12px;
	cursor: pointer;
}

.item-text {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
	pointer-events: none;
}

.item-img {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.sight-delete-btn {
	width: 10px;
	height: 10px;
	position: absolute;
	bottom: 8px;
	right: 5px;
	cursor: pointer;
}
